{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://adminmanagement.local.azurestack.external/"
        }
    ],
    "info": {
        "description": "Region health operation endpoints and objects.",
        "title": "InfrastructureInsightsManagementClient",
        "version": "2016-05-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/infrastructureinsights/Microsoft.InfrastructureInsights.Admin/preview/2016-05-01/RegionHealth.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "azsadmin-RegionHealth",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths": {
            "get": {
                "description": "Returns the list of all health status for the region.",
                "operationId": "RegionHealths_List",
                "parameters": [
                    {
                        "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client API Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "2016-05-01"
                        }
                    },
                    {
                        "description": "OData filter parameter.",
                        "in": "query",
                        "name": "$filter",
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Pageable list of region health items.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "URI to next page.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Array of region health items",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "The core properties of ARM resources",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Fully qualified resource Id for the resource",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "The name of the resource",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "The type of the resource.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "The resource model definition for a ARM tracked top level resource",
                                                        "properties": {
                                                            "location": {
                                                                "description": "The Azure Region where the resource lives",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags.",
                                                                "type": "object",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create",
                                                                    "update"
                                                                ]
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "Contains information related to the health of a region.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "Contains information related to the health of a region.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "alertSummary": {
                                                                "description": "Summary of the alerts.",
                                                                "properties": {
                                                                    "criticalAlertCount": {
                                                                        "description": "The number of critical alerts for the service.",
                                                                        "type": "integer"
                                                                    },
                                                                    "warningAlertCount": {
                                                                        "description": "The number of warning alerts for the service.",
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "usageMetrics": {
                                                                "description": "List of usage metrics for the region.",
                                                                "items": {
                                                                    "description": "Metrics of resource usage.",
                                                                    "properties": {
                                                                        "metricsValue": {
                                                                            "description": "List of usage metrics.",
                                                                            "items": {
                                                                                "description": "Metrics for a source.",
                                                                                "properties": {
                                                                                    "maCounterName": {
                                                                                        "description": "Name of the counter.",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "name": {
                                                                                        "description": "Name of the usage metric.",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "observedTimestamp": {
                                                                                        "description": "Time counter was observed.",
                                                                                        "format": "date-time",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "sourceName": {
                                                                                        "description": "The origin of the metric.",
                                                                                        "enum": [
                                                                                            "PhysicalNode",
                                                                                            "VirtualMachine",
                                                                                            "ResourceProvider"
                                                                                        ],
                                                                                        "type": "string",
                                                                                        "x-ms-enum": {
                                                                                            "modelAsString": true,
                                                                                            "name": "MetricsSourceType"
                                                                                        }
                                                                                    },
                                                                                    "sourceType": {
                                                                                        "description": "Type of the source.",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "unit": {
                                                                                        "description": "The unit of the metric.",
                                                                                        "enum": [
                                                                                            "One",
                                                                                            "Percentage",
                                                                                            "B",
                                                                                            "KB",
                                                                                            "MB",
                                                                                            "GB",
                                                                                            "TB"
                                                                                        ],
                                                                                        "type": "string",
                                                                                        "x-ms-enum": {
                                                                                            "modelAsString": true,
                                                                                            "name": "MetricsUnit"
                                                                                        }
                                                                                    },
                                                                                    "value": {
                                                                                        "description": "Name of the usage metric.",
                                                                                        "format": "double",
                                                                                        "type": "number"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "name": {
                                                                            "description": "Name of the usage metric.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "RegionHealths"
                ],
                "x-ms-examples": {
                    "Returns the list of all health status for the region.": {
                        "parameters": {
                            "api-version": "2016-05-01",
                            "resourceGroupName": "System.local",
                            "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nextLink": "",
                                    "value": [
                                        {
                                            "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local",
                                            "location": "local",
                                            "name": "local",
                                            "properties": {
                                                "alertSummary": {
                                                    "criticalAlertCount": 0,
                                                    "warningAlertCount": 2
                                                },
                                                "usageMetrics": [
                                                    {
                                                        "metricsValue": [
                                                            {
                                                                "name": "Used",
                                                                "unit": "GB",
                                                                "value": 76.24941635131836
                                                            },
                                                            {
                                                                "name": "Available",
                                                                "unit": "GB",
                                                                "value": 181.7333984375
                                                            }
                                                        ],
                                                        "name": "Physical memory"
                                                    },
                                                    {
                                                        "metricsValue": [
                                                            {
                                                                "name": "Used",
                                                                "unit": "TB",
                                                                "value": 0.22170669212937355
                                                            },
                                                            {
                                                                "name": "Available",
                                                                "unit": "TB",
                                                                "value": 2.2449070774018764
                                                            }
                                                        ],
                                                        "name": "Physical storage"
                                                    },
                                                    {
                                                        "metricsValue": [
                                                            {
                                                                "name": "Used",
                                                                "unit": "One",
                                                                "value": 31
                                                            },
                                                            {
                                                                "name": "Available",
                                                                "unit": "One",
                                                                "value": 480
                                                            }
                                                        ],
                                                        "name": "Public IP address pools"
                                                    }
                                                ]
                                            },
                                            "tags": {},
                                            "type": "Microsoft.InfrastructureInsights.Admin/regionHealths"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-odata": "#/components/schemas/Alert",
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                },
                "x-s2o-warning": "Could not resolve reference #/components/schemas/Alert"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}": {
            "get": {
                "description": "Returns the requested health status of a region.",
                "operationId": "RegionHealths_Get",
                "parameters": [
                    {
                        "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the region",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client API Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "2016-05-01"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "The core properties of ARM resources",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Fully qualified resource Id for the resource",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "The name of the resource",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "The type of the resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "x-ms-azure-resource": true,
                                                    "type": "object"
                                                }
                                            ],
                                            "description": "The resource model definition for a ARM tracked top level resource",
                                            "properties": {
                                                "location": {
                                                    "description": "The Azure Region where the resource lives",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags.",
                                                    "type": "object",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create",
                                                        "update"
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Contains information related to the health of a region.",
                                    "properties": {
                                        "properties": {
                                            "description": "Contains information related to the health of a region.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "alertSummary": {
                                                    "description": "Summary of the alerts.",
                                                    "properties": {
                                                        "criticalAlertCount": {
                                                            "description": "The number of critical alerts for the service.",
                                                            "type": "integer"
                                                        },
                                                        "warningAlertCount": {
                                                            "description": "The number of warning alerts for the service.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "usageMetrics": {
                                                    "description": "List of usage metrics for the region.",
                                                    "items": {
                                                        "description": "Metrics of resource usage.",
                                                        "properties": {
                                                            "metricsValue": {
                                                                "description": "List of usage metrics.",
                                                                "items": {
                                                                    "description": "Metrics for a source.",
                                                                    "properties": {
                                                                        "maCounterName": {
                                                                            "description": "Name of the counter.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "Name of the usage metric.",
                                                                            "type": "string"
                                                                        },
                                                                        "observedTimestamp": {
                                                                            "description": "Time counter was observed.",
                                                                            "format": "date-time",
                                                                            "type": "string"
                                                                        },
                                                                        "sourceName": {
                                                                            "description": "The origin of the metric.",
                                                                            "enum": [
                                                                                "PhysicalNode",
                                                                                "VirtualMachine",
                                                                                "ResourceProvider"
                                                                            ],
                                                                            "type": "string",
                                                                            "x-ms-enum": {
                                                                                "modelAsString": true,
                                                                                "name": "MetricsSourceType"
                                                                            }
                                                                        },
                                                                        "sourceType": {
                                                                            "description": "Type of the source.",
                                                                            "type": "string"
                                                                        },
                                                                        "unit": {
                                                                            "description": "The unit of the metric.",
                                                                            "enum": [
                                                                                "One",
                                                                                "Percentage",
                                                                                "B",
                                                                                "KB",
                                                                                "MB",
                                                                                "GB",
                                                                                "TB"
                                                                            ],
                                                                            "type": "string",
                                                                            "x-ms-enum": {
                                                                                "modelAsString": true,
                                                                                "name": "MetricsUnit"
                                                                            }
                                                                        },
                                                                        "value": {
                                                                            "description": "Name of the usage metric.",
                                                                            "format": "double",
                                                                            "type": "number"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "name": {
                                                                "description": "Name of the usage metric.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "RegionHealths"
                ],
                "x-ms-examples": {
                    "Returns the requested health status of a region.": {
                        "parameters": {
                            "api-version": "2016-05-01",
                            "location": "local",
                            "resourceGroupName": "System.local",
                            "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local",
                                    "location": "local",
                                    "name": "local",
                                    "properties": {
                                        "alertSummary": {
                                            "criticalAlertCount": 0,
                                            "warningAlertCount": 2
                                        },
                                        "usageMetrics": [
                                            {
                                                "metricsValue": [
                                                    {
                                                        "name": "Used",
                                                        "unit": "GB",
                                                        "value": 76.24941635131836
                                                    },
                                                    {
                                                        "name": "Available",
                                                        "unit": "GB",
                                                        "value": 181.7333984375
                                                    }
                                                ],
                                                "name": "Physical memory"
                                            },
                                            {
                                                "metricsValue": [
                                                    {
                                                        "name": "Used",
                                                        "unit": "TB",
                                                        "value": 0.22170669212937355
                                                    },
                                                    {
                                                        "name": "Available",
                                                        "unit": "TB",
                                                        "value": 2.2449070774018764
                                                    }
                                                ],
                                                "name": "Physical storage"
                                            },
                                            {
                                                "metricsValue": [
                                                    {
                                                        "name": "Used",
                                                        "unit": "One",
                                                        "value": 31
                                                    },
                                                    {
                                                        "name": "Available",
                                                        "unit": "One",
                                                        "value": 480
                                                    }
                                                ],
                                                "name": "Public IP address pools"
                                            }
                                        ]
                                    },
                                    "tags": {},
                                    "type": "Microsoft.InfrastructureInsights.Admin/regionHealths"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "RegionHealth": {
                "allOf": [
                    {
                        "allOf": [
                            {
                                "description": "The core properties of ARM resources",
                                "properties": {
                                    "id": {
                                        "description": "Fully qualified resource Id for the resource",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "The name of the resource",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "type": {
                                        "description": "The type of the resource.",
                                        "readOnly": true,
                                        "type": "string"
                                    }
                                },
                                "x-ms-azure-resource": true,
                                "type": "object"
                            }
                        ],
                        "description": "The resource model definition for a ARM tracked top level resource",
                        "properties": {
                            "location": {
                                "description": "The Azure Region where the resource lives",
                                "type": "string",
                                "x-ms-mutability": [
                                    "read",
                                    "create"
                                ]
                            },
                            "tags": {
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Resource tags.",
                                "type": "object",
                                "x-ms-mutability": [
                                    "read",
                                    "create",
                                    "update"
                                ]
                            }
                        },
                        "type": "object"
                    }
                ],
                "description": "Contains information related to the health of a region.",
                "properties": {
                    "properties": {
                        "description": "Contains information related to the health of a region.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "alertSummary": {
                                "description": "Summary of the alerts.",
                                "properties": {
                                    "criticalAlertCount": {
                                        "description": "The number of critical alerts for the service.",
                                        "type": "integer"
                                    },
                                    "warningAlertCount": {
                                        "description": "The number of warning alerts for the service.",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            },
                            "usageMetrics": {
                                "description": "List of usage metrics for the region.",
                                "items": {
                                    "description": "Metrics of resource usage.",
                                    "properties": {
                                        "metricsValue": {
                                            "description": "List of usage metrics.",
                                            "items": {
                                                "description": "Metrics for a source.",
                                                "properties": {
                                                    "maCounterName": {
                                                        "description": "Name of the counter.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Name of the usage metric.",
                                                        "type": "string"
                                                    },
                                                    "observedTimestamp": {
                                                        "description": "Time counter was observed.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "sourceName": {
                                                        "description": "The origin of the metric.",
                                                        "enum": [
                                                            "PhysicalNode",
                                                            "VirtualMachine",
                                                            "ResourceProvider"
                                                        ],
                                                        "type": "string",
                                                        "x-ms-enum": {
                                                            "modelAsString": true,
                                                            "name": "MetricsSourceType"
                                                        }
                                                    },
                                                    "sourceType": {
                                                        "description": "Type of the source.",
                                                        "type": "string"
                                                    },
                                                    "unit": {
                                                        "description": "The unit of the metric.",
                                                        "enum": [
                                                            "One",
                                                            "Percentage",
                                                            "B",
                                                            "KB",
                                                            "MB",
                                                            "GB",
                                                            "TB"
                                                        ],
                                                        "type": "string",
                                                        "x-ms-enum": {
                                                            "modelAsString": true,
                                                            "name": "MetricsUnit"
                                                        }
                                                    },
                                                    "value": {
                                                        "description": "Name of the usage metric.",
                                                        "format": "double",
                                                        "type": "number"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "name": {
                                            "description": "Name of the usage metric.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        }
                    }
                },
                "type": "object"
            },
            "RegionHealthList": {
                "description": "Pageable list of region health items.",
                "properties": {
                    "nextLink": {
                        "description": "URI to next page.",
                        "type": "string"
                    },
                    "value": {
                        "description": "Array of region health items",
                        "items": {
                            "allOf": [
                                {
                                    "allOf": [
                                        {
                                            "description": "The core properties of ARM resources",
                                            "properties": {
                                                "id": {
                                                    "description": "Fully qualified resource Id for the resource",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "The name of the resource",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "The type of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "The resource model definition for a ARM tracked top level resource",
                                    "properties": {
                                        "location": {
                                            "description": "The Azure Region where the resource lives",
                                            "type": "string",
                                            "x-ms-mutability": [
                                                "read",
                                                "create"
                                            ]
                                        },
                                        "tags": {
                                            "additionalProperties": {
                                                "type": "string"
                                            },
                                            "description": "Resource tags.",
                                            "type": "object",
                                            "x-ms-mutability": [
                                                "read",
                                                "create",
                                                "update"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            ],
                            "description": "Contains information related to the health of a region.",
                            "properties": {
                                "properties": {
                                    "description": "Contains information related to the health of a region.",
                                    "x-ms-client-flatten": true,
                                    "properties": {
                                        "alertSummary": {
                                            "description": "Summary of the alerts.",
                                            "properties": {
                                                "criticalAlertCount": {
                                                    "description": "The number of critical alerts for the service.",
                                                    "type": "integer"
                                                },
                                                "warningAlertCount": {
                                                    "description": "The number of warning alerts for the service.",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "usageMetrics": {
                                            "description": "List of usage metrics for the region.",
                                            "items": {
                                                "description": "Metrics of resource usage.",
                                                "properties": {
                                                    "metricsValue": {
                                                        "description": "List of usage metrics.",
                                                        "items": {
                                                            "description": "Metrics for a source.",
                                                            "properties": {
                                                                "maCounterName": {
                                                                    "description": "Name of the counter.",
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "description": "Name of the usage metric.",
                                                                    "type": "string"
                                                                },
                                                                "observedTimestamp": {
                                                                    "description": "Time counter was observed.",
                                                                    "format": "date-time",
                                                                    "type": "string"
                                                                },
                                                                "sourceName": {
                                                                    "description": "The origin of the metric.",
                                                                    "enum": [
                                                                        "PhysicalNode",
                                                                        "VirtualMachine",
                                                                        "ResourceProvider"
                                                                    ],
                                                                    "type": "string",
                                                                    "x-ms-enum": {
                                                                        "modelAsString": true,
                                                                        "name": "MetricsSourceType"
                                                                    }
                                                                },
                                                                "sourceType": {
                                                                    "description": "Type of the source.",
                                                                    "type": "string"
                                                                },
                                                                "unit": {
                                                                    "description": "The unit of the metric.",
                                                                    "enum": [
                                                                        "One",
                                                                        "Percentage",
                                                                        "B",
                                                                        "KB",
                                                                        "MB",
                                                                        "GB",
                                                                        "TB"
                                                                    ],
                                                                    "type": "string",
                                                                    "x-ms-enum": {
                                                                        "modelAsString": true,
                                                                        "name": "MetricsUnit"
                                                                    }
                                                                },
                                                                "value": {
                                                                    "description": "Name of the usage metric.",
                                                                    "format": "double",
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "name": {
                                                        "description": "Name of the usage metric.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    }
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "RegionHealthModel": {
                "description": "Contains information related to the health of a region.",
                "properties": {
                    "alertSummary": {
                        "description": "Summary of the alerts.",
                        "properties": {
                            "criticalAlertCount": {
                                "description": "The number of critical alerts for the service.",
                                "type": "integer"
                            },
                            "warningAlertCount": {
                                "description": "The number of warning alerts for the service.",
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    },
                    "usageMetrics": {
                        "description": "List of usage metrics for the region.",
                        "items": {
                            "description": "Metrics of resource usage.",
                            "properties": {
                                "metricsValue": {
                                    "description": "List of usage metrics.",
                                    "items": {
                                        "description": "Metrics for a source.",
                                        "properties": {
                                            "maCounterName": {
                                                "description": "Name of the counter.",
                                                "type": "string"
                                            },
                                            "name": {
                                                "description": "Name of the usage metric.",
                                                "type": "string"
                                            },
                                            "observedTimestamp": {
                                                "description": "Time counter was observed.",
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "sourceName": {
                                                "description": "The origin of the metric.",
                                                "enum": [
                                                    "PhysicalNode",
                                                    "VirtualMachine",
                                                    "ResourceProvider"
                                                ],
                                                "type": "string",
                                                "x-ms-enum": {
                                                    "modelAsString": true,
                                                    "name": "MetricsSourceType"
                                                }
                                            },
                                            "sourceType": {
                                                "description": "Type of the source.",
                                                "type": "string"
                                            },
                                            "unit": {
                                                "description": "The unit of the metric.",
                                                "enum": [
                                                    "One",
                                                    "Percentage",
                                                    "B",
                                                    "KB",
                                                    "MB",
                                                    "GB",
                                                    "TB"
                                                ],
                                                "type": "string",
                                                "x-ms-enum": {
                                                    "modelAsString": true,
                                                    "name": "MetricsUnit"
                                                }
                                            },
                                            "value": {
                                                "description": "Name of the usage metric.",
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "name": {
                                    "description": "Name of the usage metric.",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        }
                    }
                }
            }
        }
    }
}